
{{template "导航/nobar_base.html" .}} {{define "Content"}}


<video id="jcvideo" class="video-js responsive-video"  onclick="playPause()"  controls preload="auto" poster="/static/img/缓冲.png" data-setup="{}">
    <source src="/static/教程/{{.Video}}.mp4" type='video/mp4'>
</video>







<script>
function playPause() {

       var myVideo = document.getElementById("jcvideo");
       if (myVideo.paused){
           myVideo.play();
}
       else{
           myVideo.pause();
}
       }
</script>

<style>


#jcvideo{
	display: block;
	position: fixed;
     
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;

}
</style>


{{end}}
   
