<div class="container">
    <ol><p>

            
        <li><a class="btn tooltipped   orange darken-1" data-position="right" target=_black href="http://guanjia.qq.com/"
        data-delay="50" data-tooltip="唯一推荐安全软件，内置杀毒模块，功能强悍，点击下载">腾讯电脑管家</a></li>


        <li><a class="btn tooltipped   blue darken-1" data-position="right" target=_black href="http://yun.baidu.com/"
        data-delay="50" data-tooltip="年度最佳云盘，亿万人民的选择">百度云管家</a></li>


        <li><a class="btn tooltipped   orange darken-1" data-position="right"  target=_black href="http://note.youdao.com"
        data-delay="50" data-tooltip="笔记？只需有道。">有道云笔记</a></li>


        <li><a class="btn tooltipped   blue darken-1" data-position="right" target=_black href="http://wps.cn/"
        data-delay="50" data-tooltip="金山出品，正版免费，Office兼容度98%，更适合国人使用">WPS</a></li>


        <li><a class="btn tooltipped   orange darken-1" data-position="right" target=_black href="http://www.geany.org/"
        data-delay="50" data-tooltip="最强悍的编辑器之一，站长推荐">Geany</a></li>


        <li><a class="btn tooltipped   blue darken-1" data-position="right" target=_black href="https://www.deepin.org/"
        data-delay="50" data-tooltip="深度linux，国产新星，照耀世界！内网可直接下载">深度Linux</a></li>

    </p></ol>
</div>