{{template "导航/base.html" }} {{define "Content"}} {{template "加入/视频背景.html" }}






<div class="row">



    <div class="col col s12 m3 l3">
        <div class="card scan">
            <div class="card-image">
                <img class="responsive-img" href="https://t.dingtalk.com/invite/index?code=e7e7b81559&inviterUid=2B9D73486B6EF0F4&lwfrom=user_qq"
                src="static/img/二维码/钉钉.jpg">
            </div>
        </div>
    </div>



    <div class="col col s12 m3 l3">
        <div class="card hoverable">
            <div class="card-panel teal">
                <span class="white-text">
                        
                        <h4>钉钉</h4>
                        
                        <hr>
                      <strong>为企业量身打造的<br>统一办公通讯平台</strong>
                      
                      <br><br>扫码加入鸿合科技钉钉群,务必提供本人正确<strong class="white-text" >手机号,部门+姓名</strong>。
                      </p>
                       <hr>
                        <a target="_blank" class="yellow-text btn waves-effect waves-light black" href="http://www.dingtalk.com/index-b.html#download_block">
                        下载客户端</a>
                        
                    </span>
            </div>
        </div>
    </div>





    <div class="col col s12 m3 l3">
        <div class="card scan hoverable">
            <div class="card-image">
                <img class="responsive-img" href="#https://t.dingtalk.com/invite/index?code=e7e7b81559&inviterUid=2B9D73486B6EF0F4&lwfrom=user_qq"
                src="static/img/二维码/微信.jpg">
            </div>
            <div class="card-action">
                微信企业号
                <br>该二维码需用微信扫码
            </div>
        </div>
    </div>






    <div class="col col s12 m3 l3">
        <div class="card hoverable">
            <div class="card-panel green">
                <span class="white-text">   
                        <h5>微信企业号</h5>
                         
                        <hr>
                        <strong>信息传递随时随地</strong><br><br>
                      组织建立与员工、供应链及内部IT系统间的连接，有效地简化管理流程、提高信息的沟通和协同效率、提升服务及管理能力。
                   <hr> <a target="_blank" class="yellow-text btn waves-effect waves-light black" href="http://weixin.qq.com/">
                        下载客户端</a>
                    </span>
            </div>
        </div>
    </div>







</div>




<style>
    .page-footer, .hoverable {
        opacity: 0;
    }
    
    :hover {
       
        opacity: 1;
    }
</style>


{{end}}