<footer class="page-footer black hide-on-med-and-down">
    <div class="container">
        <div class="row">
            <div class="col l6 m6 s12">




                <strong><p class="white-text text-lighten-4">为了最佳的用户体验,推荐下载最新版现代浏览器<br>
                <a class="blue-text" target=_black href="http://www.firefox.com.cn/download/">Firefox</a>
                和
                <a class="blue-text" target=_black href="/static/soft/Chrome64.exe"> Chrome 64位</a>，
                <a class="blue-text" target=_black href="/static/soft/Chrome32.exe">32位</a>，
                <a class="blue-text" target=_black href="/static/soft/chrome.apk">Android</a>
                
                </p></strong>



            </div>

            <div class="col l3 m3 s12">

                <strong><p class="white-text text-lighten-4">本站支持移动设备访问</p></strong>
                <!--<img class="responsive-img" width=120 height=120 src="/static/img/二维码/手机打开.png">-->
            </div>
            
        
            <div class="col l3 m3 s12">

                <ul>
                    <li><a  target=_blank href="http://www.honghe-tech.com/">鸿合创新</a></li>

                    <li><a  target=_black href="http://www.hitevision-solution.com/">鸿合智能</a></li>

                </ul>
            </div>









        </div>
    </div>



    <div class="footer-copyright">
        <div class="container">
            Made by <a  href="http://权文博.中国">bobstar</a>
        </div>
    </div>
</footer>






</body>

</html>