<!DOCTYPE html>
<html lang="zh">
<head>


<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport"
content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">


<!-- No Baidu Siteapp-->
<meta http-equiv="Cache-Control" content="no-siteapp"/>

<link rel="icon" type="image/png" href="/static/img/logo/favicon.png">

<!-- Add to homescreen for Chrome on Android -->
<meta name="mobile-web-app-capable" content="yes">
<link rel="icon" sizes="192x192" href="/static/img/logo/favicon.png">

<!-- Add to homescreen for Safari on iOS -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="HHT"/>
<link rel="apple-touch-icon-precomposed" href="/static/img/logo/favicon.png">

<!-- Tile icon for Win8 (144x144 + tile color) -->
<meta name="msapplication-TileImage" content="/static/img/logo/favicon.png">
<meta name="msapplication-TileColor" content="#0e90d2">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
<title>鸿合导航</title>

<link rel="stylesheet" href="/static/font-awesome-4.5.0/css/font-awesome.min.css">
<link href="/static/materialize/css/materialize.css" type="text/css" rel="stylesheet">

<link href="/static/css/video-js.css" rel="stylesheet">


<script src="/static/js/jquery-2.2.1.min.js"></script>
<script src="/static/materialize/js/materialize.js"></script>

<script src="/static/js/video.js"></script>
<script src="/static/js/videojs-ie8.min.js"></script>


</head>

<body>





