<div class="row">



    <div class="col s6 m3 l3">
        <div class="card hoverable">
            <div class="card-image">
                <a target="_blank" href="http://oa.honghe-tech.com/">
                    <img src="/static/img/导航截图/oa.png">
                </a>
            </div>

            <div class="card-action">
                <a target="_blank" class="blue-text text-darken-2" href="http://oa.honghe-tech.com/">集团OA</a>
            </div>
        </div>
    </div>

    <div class="col s6 m3 l3">
        <div class="card hoverable">
            <div class="card-image">
                <a target="_blank" href="http://mail.honghe-tech.com/">
                    <img src="/static/img/导航截图/email.png">
                </a>
            </div>

            <div class="card-action">
                <a target="_blank" class="blue-text text-darken-2" href="http://mail.honghe-tech.com/">邮件</a>
            </div>
        </div>
    </div>





    <div class="col s6 m3 l3">
        <div class="card hoverable">
            <div class="card-image">
                <a target="_blank" href="http://116.204.106.60:21000">
                    <img src="/static/img/导航截图/seafile.png">
                </a>
            </div>

            <div class="card-action">
                <a target="_blank" class="blue-text text-darken-2" href="http://116.204.106.60:21000">文件</a>
            </div>
        </div>
    </div>

    <div class="col s6 m3 l3">
        <div class="card hoverable">
            <div class="card-image">
                <a target="_blank" href="http://223.255.9.226:8888#">
                    <img src="/static/img/导航截图/meetting.png">
                </a>
            </div>

            <div class="card-action">
                <a target="_blank" class="blue-text text-darken-2" href="http://223.255.9.226:8888">会议预约</a>
            </div>
        </div>
    </div>

    <div class="col s6 m3 l3">
        <div class="card hoverable">
            <div class="card-image">
                <a target="_blank" href="http://223.255.9.226:9000/PLM">
                    <img src="/static/img/导航截图/plm.png">
                </a>
            </div>

            <div class="card-action">
                <a target="_blank" class="blue-text text-darken-2" href="http://223.255.9.226:9000/PLM">PLM</a>
            </div>
        </div>
    </div>

    <div class="col s6 m3 l3">
        <div class="card hoverable">
            <div class="card-image">
                <a target="_blank" href="http://srm.honghe-tech.com">
                    <img src="/static/img/导航截图/srm.png">
                </a>
            </div>

            <div class="card-action">
                <a target="_blank" class="blue-text text-darken-2" href="http://srm.honghe-tech.com">SRM</a>
            </div>
        </div>
    </div>

    <div class="col s6 m3 l3">
        <div class="card hoverable">
            <div class="card-image">
                <a target="_blank" href="http://116.204.106.60:20000/#">
                    <img src="/static/img/导航截图/oldoa.png">
                </a>
            </div>

            <div class="card-action">
                <a target="_blank" class="blue-text text-darken-2" href="http://116.204.106.60:20000/#">旧版OA</a>
            </div>
        </div>
    </div>

    <div class="col s6 m3 l3">
        <div class="card hoverable">
            <div class="card-image">
                <a target="_blank" href="ftp://192.168.65.17/">
                    <img src="/static/img/导航截图/ftp.png">
                </a>

            </div>




            <div class="card-action">
                <a target="_blank" class="blue-text text-darken-2" href="ftp://192.168.65.17/">FTP(内网)</a>
            </div>
        </div>
    </div>
</div>